<!DOCTYPE html>
<html>
   

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
     
     
     
      <title>
          The Sundargarh Dist. Central Co-Operative Bank LTD.
      </title>
  
  
  
  
   
   <meta charset="utf-8" />
   <meta name="description" content=" The Sundargarh Dist. Central Co-Operative Bank LTD." />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   
   
   
   
   
    <!---stylesheets---->
      <link rel="stylesheet" href="../maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/animate.min.css"/>
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
   <!----end of stylesheet---->





    <!---external javascript--->
      <script src="../ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
     <script src="../maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="js/wow.min.js"></script>
      <script src="js/script.js"></script>
   <!----end of external javascript---->
     
     
     
      
      
    </head>
  <body> 
    
    
    
    
       <!--loading-->
       <div class="loader">
       </div> 
       <script type="text/javascript">
         $(window).on("load",function()
         {
            $('.loader').fadeOut();
         });
       </script>
     <!--end loading-->



<div class="ft">
   <ul class="top-right-icon-menu" style="margin-top: 0px; margin-bottom: 0px;" >
                 <li><a href="home.html" title="Home"><i class="fa fa-home"></i> </a></li>
                  <li><a href="https://www.google.co.in/maps/place/Sngcc+bank+Head+Office/@22.1269556,84.0343513,18z/data=!4m13!1m7!3m6!1s0x3a20ecc12a16f439:0xfd914ce07d2ebaac!2sSundargarh,+Odisha!3b1!8m2!3d22.0571189!4d84.6897495!3m4!1s0x3a20ecb48c090f21:0x8d7435e4a7462a8!8m2!3d22.1270089!4d84.0336493" title="Location" target = "new"><i class="fa fa-map-marker"> </i></a></li>
                  <li><a href="contact-us.html" title="Contact Us"><i class="fa fa-phone"></i> </a></li>
                  
                   <li><a href="https://sundargarhccbonline.com/" target="new" title="Contact Us"><i class="fa fa-globe"></i> 
                    Internet Banking
                   </a></li>
                  
              </ul>
</div>


     <!--top baar-->  
      <div class="no-margin row top-line">
         <div class="col-md-5  col-xs-3  top-left-div">
              
              <div id="tlm">
                <marquee>
               Welcome To The Sundargarh District  Central Co-Operative Bank LTD
                </marquee>
              </div>
            <img src="images/top-seprator.png" alt="seprator" class="top-sep-img">
         </div>
         
         
         
         <div class="col-md-7 col-sm-12 col-xs-9 top-right-div">
              <ul class="top-right-menu">
                  <li><a href="home.html" title="Home"><i class="fa fa-home"></i> Home</a></li>
                  <li><a href="about.html" title="About Us"><i class = "  fa fa-sticky-note"></i> About Us</a></li>
                  <li><a href="https://www.google.co.in/maps/place/Sngcc+bank+Head+Office/@22.1269556,84.0343513,18z/data=!4m13!1m7!3m6!1s0x3a20ecc12a16f439:0xfd914ce07d2ebaac!2sSundargarh,+Odisha!3b1!8m2!3d22.0571189!4d84.6897495!3m4!1s0x3a20ecb48c090f21:0x8d7435e4a7462a8!8m2!3d22.1270089!4d84.0336493" title="Locate Us" target = "new"><i class="fa fa-map-marker"></i> Locate Us</a></li>
                  <li><a href="contact-us.html" title="Contact Us"><i class="fa fa-phone"></i> Contact Us</a></li>
                   <li><a href="https://sundargarhccbonline.com/#home" target="new" title="Contact Us"><i class="fa fa-globe"></i> 
                    Internet Banking
                   </a></li>
              </ul>
             
              




         </div>
      </div>
    <!--topbar end-->













   <!--logo section-->
      <div class="logo-container">
          <div class="no-margin row">
             
             <div class="col-md-5">
              <a href="home.html">
               <img src="images/logo.jpg" alt="The Sundargarh Dist. Central Co-Operative Bank LTD." title="The Sundargarh Dist. Central Co-Operative Bank LTD." class="img-responsive main-logo" />
              </a>
             </div>
              
              
             <div class="col-md-3">
                   <span class="skip-container">
                    <a href="#main-nav" class="skip-to-menu" title="Skip to menu"> Skip to menu </a> 
                     <span class="seprater"> | </span> 
                    <a href="#main-content-container" class="skip-to-content" title="Skip to main-content"> Skip to main-content</a>
                   </span>
             </div>
             
             <div class="col-md-2">
                       
                       <div class="fmc">
                       <span class="fm-container">
                      <i class="fa fa-phone"></i> (06622) - 272022<br />
                      <i class="fa fa-phone"></i> (06622) - 275050<br />
                      <i class="fa fa-envelope"></i> sngccbank@gmail.com <br />
                       </span>
                      </div>
                      
             </div>
             <div class="col-md-2">
                  
                 <a href="rupay.html" title="rupay">

                      <div><br>
                         <img src="images/rupay.png" height="30" width="100" class="pull-right" />
                         <br />
                         <a href="https://play.google.com/store/apps/details?id=com.vsoft.arya.digitalbanking.in.oscb.sundargarhccb&amp;hl=en" target="new">
                             <span style="color:#fff; font-weight:bold;"> <i class="fa fa-android" aria-hidden="true"></i>
                              Download the Android App For Internet Banking 
                              </span>
                         </a>
                      </div>
                 </a>
             </div>
          </div> 
      </div>
  <!--end of logo section-->



 <!--navigation-->
  <nav class="navbar navbar-custom navbar-static-top relative" id="main-nav" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
     
             
      <ul class="nav navbar-nav">
        <li><a   href="home.html"><i class="fa fa-home"></i>  </a> </li> 
        <li class="dropdown "><a  href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button" title="Schemes">Schemes<b class="caret"></b></a> 
            <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
                <li role="presentation"><a href="loan.html" role="menuitem" title="Loan">Loan</a></li>
                <li role="presentation"><a href="deposite.html" role="menuitem" title="Deposit">Deposit</a></li>
                <li role="presentation"><a href="Rate-of-interest.html" role="menuitem" title="Rate of interest">Rate of interest</a></li>
            </ul>
        </li>
        <li><a  href="tenders.html" title="Tenders">Tenders</a></li>
        <li><a  href="media/Scan.pdf" title="advertisement">Advertisement</a></li>

        <li><a  href="achievements.html" title="Achievements">Achievements</a></li>
        
        <li><a  href="Bank_at_a_Glance.html" title="Bank_at_a_Glance">Bank at a Glance</a></li>
        
 <!----       
 <li><a  href="gallery" title="Gallery">Gallery</a></li> ---->
        
        <li><a  href="vision_2020.html" title="vision 2020">Vision 2020</a></li>
        
        <li><a  href="branches.html" title="Branches">Branches</a></li>


         <li><a  href="employees.html" title="employees">Employees</a></li>

       

         <li class="dropdown "><a  class="sit" href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button" title="Insurance">Insurance<b class="caret"></b></a> 
            <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
                <li role="presentation"><a href="pmfby.html" role="menuitem" title="PMFBY">
                  PMFBY
                </a></li>
                <li role="presentation"><a href="pmjjby.html" role="menuitem" title="PMJJBY">
                  PMJJBY
                </a></li>
                <li role="presentation"><a href="pmsby.html" role="menuitem" title="PMSBY">PMSBY</a></li>
                <li role="presentation"><a href="jpa.html" role="menuitem" title="jpa">JPA</a></li>
                <li role="presentation"><a href="cattle-insurance.html" role="menuitem" title="Cattle Insurance">Cattle Insurance</a></li>               
            </ul>
        </li>
          
           <li><a  href="#" title="#">DDA Login</a></li>

        
        
      </ul>
    </div>
  </div>
</nav>

 <!--end of navigation-->






<!--main content container-->

<div id="main-content-container">
  
  
  
  
  
  
  
  
  
  
  
     <!--------------=========here will go the main content of site=========---------------->
       <div class="container">
          <div class="row">
             
              <div class="col-md-3">
              
                <div class="btn btn-primary" id="sbtn">
                  sidebaar <span class="glyphicon glyphicon-th-large"></span>
                </div>
              
                 <div class="globel-sidebaar-container"> 
                  <div class="globel-sidebaar card-8">
                     <div class="sidebaar-heading">     
                       <h2 style="font-size:20px;">Welcome Cashier</h2>
                     </div>
                     <div class="main-sidebaar-content">
                          
                                                  
                          <div class="side-item">
                            <a   href="#" title="#">Dashboard</a>
                          </div>
                          <div class="side-item">
                            <a  href="#" title="#">Agent Management</a>
                          </div>
                           <div class="side-item">
                            <a  href="#" title="#">Customer Management</a>
                          </div>
                           <div class="side-item">
                            <a  href="#" title="#">Passbook</a>
                          </div>
                           <div class="side-item">
                            <a  href="#" title="#">Authorize EOD</a>
                          </div>
                           <div class="side-item">
                            <a   href="#" title="#"> Workflow </a>
                          </div>
                           <div class="side-item">
                            <a  href="#" title="#">Logout</a>
                          </div>
                         
                          
                     </div>
                  </div>
                 </div>
                 
                 
              </div>              
              <div class="col-md-9">
                <h1 class="main-heading">PMJJBY</h1>
                <hr />
              </div>
          </div>
       </div>
    
     <!-----------==========end of main content==================--------->
  
  
  
  
  
  
  
  
  
  
  
  
  
  


       <!---main globel footer--->
       <!--footer-->
     <div class="footer-container">
         <div class="container">
          <div class="row">
            <div class="col-md-4">
               <ul class="footer-list">
                 <li>
                  <span class="glyphicon glyphicon-ok fic"></span>
                  <a href="index-2.html">
                  Home</a></li>
                 <li>
                   <span class="glyphicon glyphicon-ok fic"></span>
                  <a href="about.html">About Us</a></li>
                 <li>
                  <span class="glyphicon glyphicon-ok fic"></span>
                  <a href="vission.html">Vision</a></li>
                 <li>
                  <span class="glyphicon glyphicon-ok fic"></span>
                  <a href="contact-us.html">Contact Us</a></li>
               </ul>
            </div>
             <div class="col-md-4">
                <ul class="footer-list">
                 <li>
                  <span class="glyphicon glyphicon-ok fic"></span>
                  <a href="tenders.html">
                   Tenders</a></li>
                 <li>
                   <span class="glyphicon glyphicon-ok fic"></span>
                  <a href="achievements.html">Achievments</a></li>
                 <li>
                  <span class="glyphicon glyphicon-ok fic"></span>
                  <a href="branches.html">Branches</a></li>
                 <li>
                  <span class="glyphicon glyphicon-ok fic"></span>
                  <a href="schemes.html">Schemes</a></li>
               </ul>
             </div>
             <div class="col-md-4">
              <ul class="footer-list">
                 <li>
                  <span class="glyphicon glyphicon-ok fic"></span>
                  <a href="our_precident.html"> President </a></li>
                 <li>
                 <li>
                  <span class="glyphicon glyphicon-ok fic"></span>
                  <a href="ceo.html">
                  Chief Executive</a></li>
                 <li>
                   <span class="glyphicon glyphicon-ok fic"></span>
                  <a href="vision_2020.html">Vision 2020</a></li>
                 <li>
                  <span class="glyphicon glyphicon-ok fic"></span>
                  <a href="gallery.html">Gallery</a></li>
               </ul>
             </div>
            </div>
         </div>
     </div>
   <!--end of footer-->

   <!--final footer-->
      <div class="ffcontainer">
          <div class="container">
            <div class="row">
             <div class="col-md-4">
                 <b>You are Visitor no.  :  


<img src="https://www.reliablecounter.com/count.php?page=sdccbsng.com&amp;digit=style/plain/1/&amp;reloads=0" alt="" title="" border="0">




</b>
             </div>
             <div class="col-md-4">
                <img src="images/button-ipv6-small.png" alt="ipv6 compatible" title="ipv6 compatible">
                <img src="images/wcag.png" alt="w3c validated" title="w3c validated">
                 <img src="images/Responsive-Web-Design.png" alt="responsive" title="Responsive for any device">
                
             </div>
             <div class="col-md-4">
                 <strong>
                    Developed by <a href="#" class="dev-link" title="#" target="New">
                       Techsofin
                    </a>
                 </strong>
             </div>
            </div>
          </div>
      </div>
   <!--end final footer-->
         <!---end of main footer---->
  
  </div>
  <!--main content container end-->






     <!----global fix right and left baar and javascript----->
      


  <!--whats new fix right-->
      <div id="whats-new-btn" title="What's New">
          What's New
      </div>

      <div id="whats-new-content">
         <span class="glyphicon glyphicon-remove whats-new-close-btn"></span>
        <div class="whats-new-btn1">  What's New </div>
        <div class="whats-new-main-content">
           
           
   
     <!-----        
     <marquee  direction="up">        
             





  <div class="media">
  <div class="media-left">
        <span class="glyphicon glyphicon-arrow-right wnna"> </span>
  </div>
  <div class="media-body">
       <a href="Dairy_Entrepreneurs_Development" class="new-news-link" title="Dairy Entrepreneurs Development">Dairy Entrepreneurs Development</a>     
  </div>
</div>
       
        
        
         <div class="media">
  <div class="media-left">
        <span class="glyphicon glyphicon-arrow-right wnna"> </span>
  </div>
  <div class="media-body">
       <a href="registration" class="new-news-link" title="Registration /License No">Registration /License No </a>     
  </div>
</div>






         <div class="media">
  <div class="media-left">
        <span class="glyphicon glyphicon-arrow-right wnna"> </span>
  </div>
  <div class="media-body">
       <a href="Fish_Farming_Loan_Facility" class="new-news-link" title="Fish Farming Loan Facility">Fish Farming Loan Facility </a>     
  </div>
</div>
        
        
        
         <div class="media">
  <div class="media-left">
        <span class="glyphicon glyphicon-arrow-right wnna"> </span>
  </div>
  <div class="media-body">
       <a href="Poultry_Venture_Scheme" class="new-news-link" title="Poultry Venture Scheme">Poultry Venture Scheme </a>     
  </div>
</div>


   
         <div class="media">
  <div class="media-left">
        <span class="glyphicon glyphicon-arrow-right wnna"> </span>
  </div>
  <div class="media-body">
       <a href="Allied_Agriculture" class="new-news-link" title="Allied Agriculture"> Allied Agriculture </a>     
  </div>
</div>



         <div class="media">
  <div class="media-left">
        <span class="glyphicon glyphicon-arrow-right wnna"> </span>
  </div>
  <div class="media-body">
       <a href="Farm_Machanism_Finance" class="new-news-link" title="Farm Machanism Finance"> Farm Machanism Finance </a>     
  </div>
</div>


  <div class="media">
  <div class="media-left">
        <span class="glyphicon glyphicon-arrow-right wnna"> </span>
  </div>
  <div class="media-body">
       <a href="National_Horticulture_Mission_Facilities" class="new-news-link" title="National Horticulture Mission-Facilities "> National Horticulture Mission-Facilities </a>     
  </div>
</div>
             
           
</marquee>      
           
           ----->
            <marquee scrollamount="3"   direction="up" style="position:absolute;bottom: 10%; height:70%; " onMouseOver="this.stop();" onMouseOut="this.start();">










 <a href="https://sundargarhccbonline.com/"  class="linknews" title="Invitation for expression of interest for Chief Executive Officer (CEO) of the Bank">
               <div class="no-margin row">
                      <div class="col-xs-1">
                        <span class="glyphicon glyphicon-arrow-right wnna1">  </span> 
                      </div>
                      <div class="col-xs-10" style="padding-top:3px; text-align:left; padding-left:23px;">
                         Internet Banking 
                      </div>
                  </div> 
                </a>



 <a href="#" class="linknews" title="Invitation for expression of interest for Chief Executive Officer (CEO) of the Bank">
               <div class="no-margin row">
                      <div class="col-xs-1">
                        <span class="glyphicon glyphicon-arrow-right wnna1">  </span> 
                      </div>
                      <div class="col-xs-10" style="padding-top:3px; text-align:left; padding-left:23px;">
                      For internet Banking UserID and password , please contact to the branch manager .
                      </div>
                  </div> 
                </a>


              <a href="media/Scan.pdf" class="linknews" title="Invitation for expression of interest for Chief Executive Officer (CEO) of the Bank">
               <div class="no-margin row">
                      <div class="col-xs-1">
                        <span class="glyphicon glyphicon-arrow-right wnna1">  </span> 
                      </div>
                      <div class="col-xs-10" style="padding-top:3px; text-align:left; padding-left:23px;">
                      Invitation for expression of interest for Chief Executive Officer (CEO) of the Bank
                      </div>
                  </div> 
                </a>
                




              <a href="registration.html" class="linknews" title=" Registration /License No">
               <div class="no-margin row">
                      <div class="col-xs-1">
                        <span class="glyphicon glyphicon-arrow-right wnna1">  </span> 
                      </div>
                      <div class="col-xs-10" style="padding-top:3px; text-align:left; padding-left:23px;">
                       Registration /License No  
                      </div>
                  </div> 
                </a>
                
                
               <a class="linknews" href="Dairy_Entrepreneurs_Development.html"> 
                <div class="no-margin row">
                      <div class="col-xs-1">
                        <span class="glyphicon glyphicon-arrow-right wnna1">  </span> 
                      </div>
                      <div class="col-xs-10" style="padding-top:3px; text-align:left; padding-left:23px;">
                       Dairy Entrepreneurs Development
                      </div>
                  </div> 
               </a>
               
               
               
              <a class="linknews" href="Fish_Farming_Loan_Facility.html"> <div class="no-margin row">
                      <div class="col-xs-1">
                        <span class="glyphicon glyphicon-arrow-right wnna1">  </span> 
                      </div>
                      <div class="col-xs-10" style="padding-top:3px; text-align:left; padding-left:23px;">
                       Fish Farming Loan Facility
                      </div>
                  </div> 
              </a>
              
              
              <a class="linknews" href="Poultry_Venture_Scheme.html"> 
              <div class="no-margin row">
              <div class="col-xs-1">
                        <span class="glyphicon glyphicon-arrow-right wnna1">  </span> 
                      </div>
                      <div class="col-xs-10" style="padding-top:3px; text-align:left; padding-left:23px;">
                      Poultry Venture Scheme
                      </div>
                  </div> 
              </a>
              
              
              
             <a class="linknews" href="Allied_Agriculture.html">
              <div class="no-margin row">
              <div class="col-xs-1">
                        <span class="glyphicon glyphicon-arrow-right wnna1">  </span> 
                      </div>
                      <div class="col-xs-10" style="padding-top:3px; text-align:left; padding-left:23px;">
                       Allied Agriculture
                      </div>
                  </div> 
              </a>  
              
              
             <a class="linknews" href="Farm_Machanism_Finance.html"> 
             <div class="no-margin row">
              <div class="col-xs-1">
                        <span class="glyphicon glyphicon-arrow-right wnna1">  </span> 
                      </div>
                      <div class="col-xs-10" style="padding-top:3px; text-align:left; padding-left:23px;">
                         Farm Machanism Finance
                      </div>
                  </div>
            </a>
            
            
            <a class="linknews" href="National_Horticulture_Mission_Facilities.html" title="National Horticulture Mission-Facilities">
            <div class="no-margin row">
             <div class="col-xs-1">
                        <span class="glyphicon glyphicon-arrow-right wnna1">  </span> 
                      </div>
                      <div class="col-xs-10" style="padding-top:3px; text-align:left; padding-left:23px;">
                         National Horticulture Mission-Facilities
                      </div>
                  </div>
            </a>
                
         
           </marquee>
                
            
        </div>
      </div>
  <!--end of right fix-->







<!--left fixed-->
  
<div class="main-right-fix">
  <div class="main-interest-rate-content">
      
          
      
      <div class="int-rate-seprater">
         <span class="lone-heading"> Home Loan </span>
         <span class="loan-rate">
             <span class="loan-rate-act"> 11.25 </span>
             <span class="loan-rate-text"> %P.A. </span>
         </span>
      </div>

      <div class="int-rate-seprater">
         <span class="lone-heading"> Vehile Loan </span>
         <span class="loan-rate">
             <span class="loan-rate-act"> 12 </span>
             <span class="loan-rate-text"> %P.A. </span>
         </span>
      </div>


       <div class="int-rate-seprater">
         <span class="lone-heading"> Personal Loan </span>
         <span class="loan-rate">
             <span class="loan-rate-act"> 11.50  </span>
             <span class="loan-rate-text"> %P.A. </span>
         </span>
      </div>


      <div class="int-rate-seprater">
         <span class="lone-heading"> Farm Sector </span>
         <span class="loan-rate">
             <span class="loan-rate-act"> 11.50  </span>
             <span class="loan-rate-text"> %P.A. </span>
         </span>
      </div>

     <div class="int-rate-seprater">
         <span class="lone-heading"> Non-Farm Sector </span>
         <span class="loan-rate">
             <span class="loan-rate-act"> 12.00  </span>
             <span class="loan-rate-text"> %P.A. </span>
         </span>
      </div>

  
  </div>
 <!-- <div id="per-new-btn">
        % Interest Rate
  </div>-->
</div>

<!--end of left fixed-->




  <script type="text/javascript">
    /* slider script */
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1} 
    slides[slideIndex-1].style.display = "block"; 
    setTimeout(showSlides, 4000); // Change image every 2 seconds
}
   /* end slider script*/
 

  /*  accordian */
  function toggleIcon(e) {
    $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
}
$('.panel-group').on('hidden.bs.collapse', toggleIcon);
$('.panel-group').on('shown.bs.collapse', toggleIcon);
  /* end of accordian */

  </script>
     <!------end this ----->
  </body>


</html>